{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        {{ include("@Git/Icons/gitIcon.svg") }}
        <span class="sf-toolbar-status sf-toolbar-status-green" style="text-overflow: ellipsis; overflow: hidden;">{{ collector.data.branch.name }}</span>
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>Current Branch</b>
            <span>{{ collector.data.branch.name }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Last Commit</b>
            <span>{{ collector.data.commits|first.ref[:7] }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Initialization time</b>
            <span>{{ collector.data.time }} ms</span>
        </div>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { 'link': true }) }}
{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon">
            {{ include("@Git/Icons/gitIcon.svg") }}
        </span>
        <strong>Git</strong>
    </span>
{% endblock %}

{% block panel %}
    <h2>Git</h2>
    <div class="metrics">
        <div class="metric">
            <span class="value">{{ collector.data.branch.name }}</span>
            <span class="label">Current Branch</span>
        </div>
        <div class="metric">
            <span class="value">{{ collector.data.time|number_format(0) }} <span class="unit">ms</span></span>
            <span class="label">Initialization time</span>
        </div>
        <div class="metric">
            <span class="value">
                {{ collector.data.commits|first.ref[:7] }}
            </span>
            <span class="label">Last Commit</span>
        </div>
        <div class="metric">
            <span class="value">
                {{ collector.data.commits|length }}
            </span>
            <span class="label">Commits</span>
        </div>
        <div class="metric">
            <span class="value">
                {{ collector.data.branches|length }}
            </span>
            <span class="label">Branches</span>
        </div>
        <div class="metric">
            <span class="value">
                {{ collector.data.contributors|length }}
            </span>
            <span class="label">Contributors</span>
        </div>
    </div>
    <h2>Remotes <small>({{ collector.data.remotes|length }})</small></h2>
    {% if collector.data.remotes|length == 0 %}
        <div class="empty">
            <p>Can't find any git remotes.</p>
        </div>
    {% else %}
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Remote</th>
                <th>Url</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>
            {% for remote in collector.data.remotes %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ remote|split("\t")|first }}</td>
                    <td>{{ remote|split("\t")|last|split(" ")|first }}</td>
                    <td>{{ remote|split("\t")|last|split(" ")|last|trim('()') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <h2>Branches <small>({{ collector.data.branches|length }})</small></h2>
    {% if collector.data.branches|length == 0 %}
        <div class="empty">
            <p>Can't find any git branches. That's not possible!</p>
        </div>
    {% else %}
        <table>
            <thead>
            <tr>
                <th>Branch</th>
            </tr>
            </thead>
            <tbody>
            {% for branch in collector.data.branches %}
                <tr>
                    <td>{{ branch.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <h2>Contributors <small>({{ collector.data.contributors|length }})</small></h2>
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Email</th>
            <th>Commits</th>
        </tr>
        </thead>
        <tbody>
        {% for contributor, amountOfCommits in collector.data.contributors %}
            <tr>
                <td class="nowrap">{{ loop.revindex }}</td>
                <td class="nowrap">{{ contributor }}</td>
                <td class="nowrap">{{ amountOfCommits }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2>Commits <small>({{ collector.data.commits|length }})</small></h2>
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th class="nowrap">Commit</th>
            <th>Date</th>
            <th>Author</th>
            <th>Message</th>
        </tr>
        </thead>
        <tbody>
        {% for commit in collector.data.commits %}
            <tr>
                <td class="nowrap">{{ loop.revindex }}</td>
                <td class="nowrap">{{ commit.ref[:7] }}</td>
                <td class="nowrap">{{ commit.time|date("d.m.Y H:i:s") }}</td>
                <td class="nowrap"><a href="mailto:{{ commit.email }}">{{ commit.author }}</a></td>
                <td>{{ commit.message }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
